.container {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  text-align: center;
  flex: 1;
  inset: 0;
  h1 {
    font-size: 6vw;
    margin: 8px auto;
    color: black;
  }
  h3 {
    font-size: 4vw;
    color: black;
  }
}
